<form action="/login" method="POST">
  <label for="guard_email">Email</label>
  <input id="guard_email" type="email" name="email">
  <br>
  <label for="guard_password">Password</label>
  <input id="guard_password" type="password" name="password">
  <br>
  <input type="submit" value="Login">
</form>
<br>
<h5><a href="/signup">Signup</a></h5>