<form action="/login" method="POST">
  <div>
    <div>
      <label for="guard_email">Email</label>
      <input id="guard_email" type="email" name="email" required>
    </div>
    <br>
    <div>
      <label for="guard_password">Password</label>
      <input id="guard_password" type="password" name="password" required>
    </div>
    <br>
    <input type="submit" value="Login">
  </div>
</form>
<br>
<h5><a href="/signup">Signup</a></h5>