<p>Welcome, <%= @guard.name %></p>

<p>Your Reports:</p>
<% @reports %>
<a href="/reports/new">New report</a>
<br>
<a href="/reports">All reports</a>
<br>
<a href="/logout"><input type="submit" value="logout"></a>