<h2>Signup Here</h2>
<form action="/signup" method="POST">
   <label for="guard_name">Name</label>
   <input id="guard_name" type="text" name="name" required>
   <br>
   <label for="guard_email">Email</label>
   <input id="guard_email" type="email" name="email" required>
   <br>
   <label for="guard_number">Phone Number</label>
   <input id="guard_number" type="tel" name="number" required>
   <br>
   <label for="guard_company">Company Name</label>
   <input id="guard_company" type="text" name="company" required>
   <br>
   <label for="guard_password">Create a Password</label>
   <input id="guard_password" type="password" name="password" required>
   <br>
   <input type="submit" value="Signup">
</form>
