<h4>Update a report</h4>
<form action="/reports/edit/<%="#{@report.id}"%>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="patch">
   <input type="submit" value="Update">
</form>